*{
    padding: 0;
    margin: 0
}

.hidden{
    display: none
}

.modal{
    background-color: rgb(243, 241, 221);
    border: 3px solid rgb(146, 72, 28);
    width: 50%;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 150px;
    border-radius: 10px;
    padding: 5px;
    z-index: 2;
}

label{
    display: block
}

.overlay{
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0

}

.modal h2, .modal div{
    width: 80%;
    margin: auto;
    text-align: center
}

.close{
    position: absolute;
    right: 2px;
    top: 2px;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    border-radius: 30%;
    background-color:rgb(105, 105, 105);
    color: white
}

table th{
    padding: 10px 20px;
    border: 1px solid black;
    background-color: rgb(241, 236, 245);
}

table{
    border-collapse: collapse;
    position: relative;
    top: 100px;
    left: 150px

}

.add-btn{
    position: relative;
    left: 252px;
    top: 50px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #050814;
    color: white;
    border: 2px solid rgb(151, 149, 149);
}